<h2>Student Profile</h2>

<p>Name: Aswini</p>

<p>Department: Computer Science and Engineering</p>

<h3>Enrolled Courses</h3>

@if (enrolledCourses$ | async; as enrolledCourses) {

  @if (enrolledCourses.length === 0) {

    <p>No courses enrolled.</p>

  } @else {

    @for (course of enrolledCourses; track course.id) {

      <div>
        <h4>{{ course.name }}</h4>

        <p>Code: {{ course.code }}</p>

        <p>Credits: {{ course.credits }}</p>

        <p>Status: {{ course.gradeStatus }}</p>
      </div>

    }
  }
}